{% extends "base.html" %}
{% block title %} Verify questions {% endblock %}

{% block main %}
<div class="container">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Question</th>
                <th scope="col">Creator username</th>
                <th scope="col">Correct answer</th>
                <th scope="col">Incorrect answers</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td> {{ question["type"] }} </td>
                <td> {{ question["category"] }} </td>
                <td> {{ question["difficulty"] }} </td>
                <td> {{ question["question"] }} </td>
                <td> {{ question["creator"] }} </td>
                <td> {{ question["correct_answer"] }} </td>
                {% if not question["incorrect_answers"] %}
                <td> - </td>
                {% else %}
                <td> {{ ", ".join(question["incorrect_answers"]) }} </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
