{% extends "base.html" %}
{% block title %} Verify questions {% endblock %}

{% block main %}
<div class="container">
    <table class="table table-primary border-primary-subtle mt-3">
        <thead>
            <tr>
                <th class="text-primary-emphasis" scope="col">Type</th>
                <th class="text-primary-emphasis" scope="col">Category</th>
                <th class="text-primary-emphasis" scope="col">Difficulty</th>
                <th class="text-primary-emphasis" scope="col">Question</th>
                <th class="text-primary-emphasis" scope="col">Creator username</th>
                <th class="text-primary-emphasis" scope="col">Correct answer</th>
                <th class="text-primary-emphasis" scope="col">Incorrect answers</th>
                <th class="invisible text-primary-emphasis" scope="col">Remove</th>
                <th class="invisible text-primary-emphasis" scope="col">Verify</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td class="text-primary-emphasis"> {{ question["type"] }} </td>
                <td class="text-primary-emphasis"> {{ question["category"] }} </td>
                <td class="text-primary-emphasis"> {{ question["difficulty"] }} </td>
                <td class="text-primary-emphasis"> {{ question["question"] }} </td>
                <td class="text-primary-emphasis"> {{ question["creator"] }} </td>
                <td class="text-primary-emphasis"> {{ question["correct_answer"] }} </td>
                <td class="text-primary-emphasis"> {{ ", ".join(question["incorrect_answers"]) }} </td>
                <td>
                    <form method="post" action="{{ url_for('admin.remove_question', id=question['id']) }}">
                        <button onclick="return confirm('Are you sure? This action is irreversible')" type="submit" class="btn btn-outline-danger">Remove</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('admin.accept_question', id=question["id"]) }}">
                        <button type="submit" class="btn btn-outline-primary">Verify</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
