{% extends "browsing.html" %}

{% block title %} Select questions {% endblock %}

{% block head %}
<script type="module" src="{{ url_for('static', filename='js/select_user_questions.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_browse.js') }}"></script>
{% endblock %}

{% block header %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div id="notEnoughQuestions" class="d-none mt-3 alert alert-warning alert-dismissible">
            <p> All question sets must have at least 5 questions </p>
            <button type="button" class="btn-close" id="notEnoughQuestionsDismiss"></button>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <button class="btn btn-success" id="submitSet"></button>
</div>

<div class="row justify-content-center mt-3">
    <div id="otdblink" class="col-lg-4 col-md-5 m-2 text-center">
        <a href="{{ url_for('question_sets.add_opentdb') }}" class="btn btn-primary">Open Trivia DB questions</a>
        <a href="{{ url_for('about.opentdb') }}" class="link-offset-2 link-underline ms-1">?</a>
    </div>
    <div class="col-lg-4 col-md-5 m-2 text-center">
        <button class="btn btn-primary" disabled>User-created questions</button>
    </div>
</div>
{% endblock %}

{% block table %}
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Question</th>
            <th scope="col">Created by</th>
            <th scope="col" class="invisible">Select</th>
        </tr>
    </thead>
    <tbody id="questionTableBody">
        {% for question in questions %}
        <tr>
            <th scope="row">{{ question["id"] }}</th>
            <td>{{ question["category"] }}</td>
            <td>{{ question["difficulty"] }}</td>
            <td>{{ question["question"] }}</td>
            <td>{{ question["creator"] }}</td>
            <td>
                <form class="selectQuestion">
                    <input name="id" type="hidden" value="{{ question["id"] }}">
                    <button name="submitButton" class="btn btn-success" type="submit">Select</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="text-center">You have reached the end</p>
{% endblock %}
