{% extends "base.html" %}

{% block title %} Join game {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/join.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container">
    {% if game is not none %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="alert bg-info-subtle text-success border-success-subtle" role="alert">
                You are already in a game. <a class="text-success link-offset-2" href={{ "/join/" + game }}>Rejoin</a>.
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center mt-3">
        <div class="col-md-5">
            <form id="joinGame">
                <label for="uuid" class="form-label text-primary-emphasis">Game ID</label>
                <input required type="text" autocomplete="off" class="bg-info-subtle text-success border-success-subtle form-control" name="uuid" id="uuid">
                <div class="mt-2 text-center">
                    <button type="submit" class="btn btn-outline-primary">Join game</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
