{% extends "base.html" %}

{% block title %} Join game {% endblock %}

{% block head %}
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="{{ url_for('static', filename='js/show.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container text-center">
    <h2 class="mt-2">Share the ID or the QR code with others to let them join</h2>
    <div class="row text-center justify-content-evenly">
        <div class="col-auto mt-3">
            <p> Game ID: <span id="gameID">{{ id }}</span></p>
            <div class="mt-3 d-flex justify-content-center" id="qrCode">
            </div>
        </div>
        <div class="col-auto mt-3">
            <ul class="list-group" id="playerList">
                <li class="list-group-item list-group-item-success">Players in game</li>
                <li class="list-group-item">{{ g.user["username"] }} (you)</li>
                {% for player in players %}
                <li class="list-group-item"> {{ player }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row justify-content-evenly mt-4">
        <div class="col-md-3 text-center">
            <button class="btn btn-dark">Start game</button>
        </div>
        <div class="col-md-3 text-center">
            <a href="{{ url_for('game.delete_game', uuid=id) }}"><button class="btn btn-danger">Delete game</button></a>
        </div>
    </div>
</div>
{% endblock %}
