{% extends "base.html" %}

{% block title %} Contacts {% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="mt-2 text-primary-emphasis"> Contact us </h1>
    <p class="text-primary-emphasis">
        You can get in contact with us through GitHub or email. For technical issues or contribution
        please refer to GitHub. More general questions can be answered through email.
    </p>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush col-md-4">
            <a class="list-group-item-primary list-group-item list-group-item-action" href="https://github.com/muyrety/Smarter">GitHub</a>
            <a class="list-group-item-primary list-group-item list-group-item-action" href="mailto:smarter.tamper712@passinbox.com">Email</a>
        </ul>
    </div>
<div>
{% endblock %}
