{% extends "base.html" %}

{% block title %} Contacts {% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="mt-2 text-primary-emphasis"> Contact us </h1>
    <p class="text-primary-emphasis">
        You can get in contact with us through GitHub or email. For technical issues or contribution
        please refer to GitHub. More general questions can be answered through email.
    </p>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush col-md-4">
            <li class="list-group-item-info border-primary-subtle list-group-item"><a href="https://github.com/muyrety/Smarter" class="text-primary-emphasis link-offset-2">GitHub</a></li>
            <li class="list-group-item-info border-primary-subtle list-group-item"><a href="mailto:smarter.tamper712@passinbox.com" class="text-primary-emphasis link-offset-2">Email</a></li>
        </ul>
    </div>
<div>
{% endblock %}
