{% extends "base.html" %}

{% block title %} Contacts {% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="mt-2"> Contact us </h1>
    <p>
        You can get in contact with us through Github or email. For technical issues or contribution
        please refer to Github. More general questions can be answered through email.
    </p>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush col-md-4">
            <a class="list-group-item list-group-item-active" href="https://github.com/muyrety/Smarter">Github</a>
            <a class="list-group-item list-group-item-active" href="mailto:mykolasuselis2@gmail.com">Email</a>
        </ul>
    </div>
<div>
{% endblock %}
