{% extends "base.html" %}

{% block title %} License {% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="mt-2"> License </h1>
    <p>
        Smarter uses a popular free and open source (<abbr>FOSS</abbr>) license GNU <abbr>GPLv3</abbr>.
        You can find the project's repository on <a class="link-offset-2" href="https://github.com/muyrety/Smarter">github</a>.
        Here are some of the license's conditions in short:
    </p>

    <div class="row">
        <ul class="col-md-4 list-group mt-3">
            <li class="list-group-item active">Permissions</li>
            <li class="list-group-item">Commercial use</li>
            <li class="list-group-item">Distribution</li>
            <li class="list-group-item">Modification</li>
            <li class="list-group-item">Patent use</li>
            <li class="list-group-item">Private use</li>
        </ul>

        <ul class="col-md-4 list-group mt-3">
            <li class="list-group-item active">Conditions</li>
            <li class="list-group-item">Disclose source</li>
            <li class="list-group-item">License and copyright notice</li>
            <li class="list-group-item">Same license</li>
            <li class="list-group-item">State changes</li>
        </ul>

        <ul class="col-md-4 list-group mt-3">
            <li class="list-group-item active">Limitations</li>
            <li class="list-group-item">Liability</li>
            <li class="list-group-item">Warranty</li>
        </ul>
    </div>

    <p class="mt-3">
        You can find the full license on the <a class="link-offset-2" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU website</a>.
    </p>
</div>
{% endblock %}
