{% extends "base.html" %}

{% block title %} Temporary question sets {% endblock %}

{% block main %}
<div class="container text-center">
    <h1 class="mt-2">Temporary question sets</h1>
    <p>
        When creating a question set you have to choose whether you
        want a temporary question set or not. Temporary question sets
        are deleted after a single game has been played with them, i.e.,
        they are for a single game only. They are also private and limited
        to your account (no one else can see them except you). What is more,
        all questions are available for use in temporary question sets, as opposed
        to non-temporary sets where only user-created questions are available.
    </p>
</div>
{% endblock %}
