{% extends "base.html" %}

{% block title %} Browse questions {% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-4 col-md-5 m-2 text-center">
            <a href="{{ url_for('questions.otdb_browse') }}" class="btn btn-primary">Open Trivia DB questions</a>
            <a href="{{ url_for('about.opentdb') }}" class="link-offset-2 link-underline ms-1">?</a>
        </div>
        <div class="col-lg-4 col-md-5 m-2 text-center">
            <button class="btn btn-primary" disabled>User-created questions</button>
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Question</th>
                <th scope="col">Created by</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <th scope="row">{{ question["id"] }}</th>
                <td>{{ question["category"] }}</td>
                <td>{{ question["difficulty"] }}</td>
                <td>{{ question["question"] }}</td>
                <td>{{ question["creator"] }}</td>
            {% if g.user["admin"] %}
                <td>
                    <form method="post" action="{{ url_for('admin.remove_question', id=question["id"], next=request.url) }}">
                        <button onclick="return confirm('Are you sure? This action is irreversible')" type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-center">You have reached the end</p>
</div>
{% endblock %}
