{% extends "base.html" %}

{% block title %} Browse questions {% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-5 text-center">
            <button class="btn btn-primary" id="db_button" disabled>Open Trivia DB questions</button>
            <a href="{{ url_for('opentdb') }}" class="link-offset-2 link-underline me-3 ms-1">?</a>
            <button class="btn btn-primary ms-3" id="user_button">User-created questions</button>
        </div>
    </div>
</div>
{% endblock %}
