{% extends "base.html" %}

{% block title %} Browse questions {% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-12 text-center">
            <button class="btn btn-primary mb-xs-2" id="otdbButton" disabled>Open Trivia DB questions</button>
            <a href="{{ url_for('opentdb') }}" class="link-offset-2 link-underline me-3 ms-1">?</a>
            <button class="btn btn-primary ms-3 mt-xs-2" id="userButton">User-created questions</button>
        </div>
    </div>
    <table id="opentdbTable" class="table mt-3">
        <thead>
            <tr>
                <th>Category</th>
                <th>Difficulty</th>
                <th>Question</th>
            </tr>
        </thead>
    </table>

    <table class="table mt-3" id="userTable">
        <thead>
            <tr>
                <th>Category</th>
                <th>Difficulty</th>
                <th>Question</th>
                <th>Created by</th>
            </tr>
        </thead>
    </table>
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3" id="loadOTDBQuestions">Load more</button>
        <button class="btn btn-outline-secondary mb-3" id="loadUserQuestions">Load more</button>
    </div>
</div>
{% endblock %}
